.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 2vw;
  padding-right: 2vw;

  background: var(--primary);

  border-radius: 2px;

  text-align: center;
}

.item:hover,
.item:active {
  background: var(--primary_accent);
}

.text {
  font-weight: bold;
  color: var(--text);

  text-align: center;
}

.price_change_inc {
  font-weight: bold;
  color: var(--inc);

  text-align: center;
}

.price_change_dec {
  font-weight: bold;
  color: var(--dec);

  text-align: center;
}
