.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.header {
  background-color: var(--accent2);

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  width: 100%;
  padding-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  padding-left: 20px;
}

.footer {
  align-self: flex-end;
  justify-self: flex-end;

  padding-right: 40px;
  padding-bottom: 20px;
}
