.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4vw;

  width: 68vw;

  transition-duration: 0.2s;
}

.container:hover {
  box-shadow: 2px 2px 4px var(--light);
  transition-duration: 0.2s;
}
