.button {
  flex: 0 0;

  height: 60%;
  aspect-ratio: 1/1;

  margin-right: 2%;

  background-color: var(--primary);
  color: white;

  border-style: solid;
  border-width: 0.2rem;
  border-radius: 0.8rem;
  border-color: var(--primary_accent);

  box-shadow: 2rem var(--primary_accent);
}

.button:hover,
.button:active {
  height: 64%;

  background-color: var(--primary_accent);
  color: white;

  box-shadow: 2rem var(--primary_accent);
}
