.button {
  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 6vh;
  max-width: 4vw;

  transition-duration: 0.2s;
  border-style: none;
  background-color: var(--dark);
}

.button:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
}
