.button {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 0 0 auto;

  width: 40px;

  transition-duration: 0.2s;
  border-style: none;
  background-color: inherit;
}

.button:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
}
