.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;
}
