.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  width: 98%;
  height: 6%;

  flex: 0 0 auto;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  flex: 0 0 fit-content;
}
