.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  width: 98%;
  height: 6%;

  flex: 0 0 auto;
}

.header div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2%;

  height: 100%;
  width: fit-content;

  flex: 1 0 fit-content;
}
